body {
    background-color: #FFFFFF;
}

.header {
    font-size: 34px;
}

.song {
    padding: 25px 0 0 0;
    margin: auto;
    width: 100%;
    height: auto;
    max-height: auto;
}

.parent {
    position: relative;
}

.shelf {
    border-bottom: 30px solid #a5a5a5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -15px;
    z-index: -10;
}