<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.about.title }}{% endif %}</title>
        <link rel="canonical" href="{{ page.url | replace:'about.html','' | prepend: site.baseurl | prepend: site.url }}">
      </head>
<body>
<div>
    <iframe width="100%" height="100%" frameBorder="0" src="https://angulijs.netlify.app/" /> 
</div>
</body>
</html>
