---
layout: default
---

<html style="background-color:black;">
{% include _about_head.html %}

<style>
  .row {
    background-color: #fff;
    padding: 0.2rem;
  }
  .column {
    padding: 0.2rem;
  }
  .roll {
      display: flex;
      flex-direction: column;
      row-gap: 3em;
  }
  #piano {
    background-color: black;
    width: 100%;
    height: 100%;
  }
</style>
<body>
<div class="roll">
  <br/>
  <div class="row"> 
      <iframe width="100%" height="600px" src="https://www.youtube.com/embed/b9kIox9MPLM?autoplay=0&mute=0"></iframe>
  </div>
  <div class="row">
      {% for image in site.data.cgi.images %}
      <div class="column">
          <img src="{{image.path}}">
      </div>
      {% endfor %}
  </div>
  <div class="row">
    <canvas id="piano"></canvas>
  </div> 
</div>
</body>
</html>
