---
layout: default
---

<html style="background-color:black;">
{% include _about_head.html %}

<style>
  .row {
    background-color: #0000;
  }
  .column {
    padding: 0.2rem;
  }
  .roll {
      display: flex;
      margin: 0;
      flex-direction: column;
      row-gap: 0.5em;
  }
</style>
<body>
<div class="roll">
  <br/>
  <div class="row"> 
      <iframe width="100%" height="600px" frameBorder="0" src="https://www.youtube.com/embed/b9kIox9MPLM?autoplay=0&mute=0"></iframe>
  </div>
  <div class="row">
    <iframe width="100%" height="600px" frameBorder="0" src="https://webglsl.netlify.app/"></iframe>
  </div>
  {% comment %} <div class="row">
    {% for image in site.data.cgi.images %}
    <div class="column">
        <img src="{{image.path}}">
    </div>
    {% endfor %}
  </div>  {% endcomment %}
</div>
</body>
</html>
